body {
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    width: 100%;
    margin-bottom: 10px;
}
.banner img {
    width: 100%;
}
.container {
    width: 60%;
    margin: auto;
    padding: 10px;

    display: flex;
}
.anketa {
    border: 1px solid red;
    width: 30%;
    padding: 10px;
}
.anketa img {
    width: 100%;
}
.info {
    width: 70%;
    margin-left: 20px;
}
.info h1 {
    width: 100%;
    text-align: center;
    background-color: rgb(37, 36, 36);
    color: white;
    margin-top: 0px;
}
.card {
    display: flex;
    margin-bottom: 15px;
}
.photocard {
    margin-right: 10px;
    width: 130%;
}
.photocard img {
    width: 100%;

}
.datainfo {
    padding-left: 10px;
    padding-top: 10px;
}
.link {
    font-size: 17px;
    border: 1px solid red;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 3px;
    padding: 3px;
    width: 50%;
    font-weight: bold;
}
.data a {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}
.data h2 {
    margin: 0px;
    background-color: red;
    color: white;
    padding: 3px;
}
.about p {
    text-align: justify;
}
.button {
    border: 1px solid red;
    width: 100%;
    margin-bottom: 5px;
}
.button a {
    font-size: 20px;
    text-decoration: none;
    color: red;
}
.button:hover {
    border: 1px solid red;
    background-color: red;
    width: 100%;
    margin-bottom: 5px;
}
.button a:hover {
        font-size: 20px;
        text-decoration: none;
        color: white;
}
.articles {
    border: 1px dotted black;
    padding: 5px;
}
.articles h3 {
    margin: 0px;
    color: red;
}
.articles p {
    text-align: justify;
}
.articles a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px;
}
.promo {
    padding: 20px;
}
video {
    width: 100%;
    margin-bottom: 20px;
}